/* Filter Jobs */
#filter-form {
    margin: 1.7%; /*old 9%*/
    font-family: "Sora";
    font-style: normal;
    padding: 0 5%;
}

#filter_jobs {
    width: 109px;
    height: 25px;
    left: 39.5px;
    top: 130px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #000000;
    margin-right: 10px;
    white-space: nowrap;
}
.filter-container {
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}


.filter-title {
    height: 20px;
    left: 39.5px;
    top: 190px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    color: #000000;
}

.filter-choose {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.005em;
    color: rgba(0, 0, 0, 0.4);
}

.filter-group {
    margin-bottom: 10px;
}

.filter-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.filter-separator {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    border: none !important;
    border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
}

input[type="checkbox"] {
    accent-color: rgba(0, 0, 0, 0.2);
}
