@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap');

hr {
    border: #00000033 1px solid;
}

.main{
    margin-top: 100px;
    margin-left: 377px;
    padding: 5px;
    overflow: auto;
    height: calc(100vh - 200px );
}

.titol{
    color: var(--primario-nero, #000);

/* Headline/3 */
font-size: 48px;
font-family: Sora;
}

.subtitol{
    color: #000;
font-size: 34px;
font-family: Sora;
}

.left_grid{
    font-family: 'Sora';
    position: absolute;
    top: 0px;
    background-color: #83FF000D;
    width: 320px;
    min-height: 100%;
    padding: 39.5px;
}
.content-grid{
    margin-top: 100px;
    gap: 16px;
}

.element{
    color: var(--secondario-nero-40, rgba(0, 0, 0, 0.40));

/* Body/2 */
font-size: 14px;
font-family: Sora;
letter-spacing: 0.035px;
}

.person{
    width: 262px;
    height: 276px;
}

.item_1{grid-area: item_1;}
.item_2{grid-area: item_2;}
.item_3{grid-area: item_3;}
.item_4{grid-area: item_4;}
.item_5{grid-area: item_5;}

.form_contact{
    margin-top: 150px;
    width: 876px;
    display: grid;
    grid-template-columns: 254px 254px 562px;
    grid-template-areas: 'item_1 item_2 item_5' 
                        'item_3 item_3 item_5' 
                        'item_4 item_4 item_5';
                        column-gap: 50px;
                        row-gap: 45px;
}

.input_form{
    outline: none;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid var(--secondario-nero-20, rgba(0, 0, 0, 0.20));
    width: 100%;
    height: 44.601px;
}

.input_mex{
    width: 100%;
    height: 303px;
    resize: none;
}

.input_large{
    width: 100%;
}

.text_label{
    color: var(--secondario-nero-60, rgba(0, 0, 0, 0.60));
    margin-bottom: 18px;

/* Subtitle/1 */
font-size: 16px;
font-family: Sora;
letter-spacing: 0.024px;
}

.btn_submit{
    text-transform: none!important;

    font-size: 16px !important;
    font-family: Sora;
    font-weight: 400 !important;
    letter-spacing: 0.024px;

    width: 173.5px;
    height: 44.601px;

    background-color: #6A38C2 !important;
    margin-left: 697px;
    margin-top: 27px;
}

.grid_card_container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 48px;
    width: fit-content;
    margin-top: 100px;
}

.grid_card{
    width: 398.67px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    padding: 15px 18px;
}

.img_about{
    width: 224.104px;
    height: 224.104px;

    border: 1px solid #00000033;
    border-radius: 100%;
}

.titol_card{
    color: #000;

    /* Subtitle/1 */
    font-size: 16px;
    font-family: Sora;
    letter-spacing: 0.024px;
}

.subtitol_card{
    color: var(--secondario-nero-40, rgba(0, 0, 0, 0.40));

    /* Body/1 */
    font-size: 14px;
    font-family: Sora;
    letter-spacing: 0.07px;

    margin-top: 4.44px;
}

.image_bottom_right {
    position: absolute;
    bottom: 0px;
    right: 29px;

    width: 123px;
    height: 152px;

    z-index: -1;
}