@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap');

body {
    margin: 0px;
    padding-right: 10px;
}

.navbar {
    top: 0px;
    display: flex;
    justify-content: space-between;
    margin: 36px 40px;

    height: 44px;
    padding-right: 10px
}


#button_login {
    /* Log in */
    text-transform: none;
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;

    width: 91px;
    height: 44px;

    background-color: white;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);

    /* Primario/nero */

    border: 1px solid #000000;
    /* Shadow/xs */

    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.0125em;
    color: black;

    width: fit-content;
}

#button_registration {
    /* Register */

    text-transform: none;
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;

    width: 112px;
    height: 44px;

    /* Primario/verde */

    background: #83FF00;
    /* Primario/nero */

    border: 1px solid #000000;
    /* Shadow/xs */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.0125em;
    color: black;
}


.header-left {
    display: flex;
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.logo {
    height: 34.636470794677734px;
    width: 57.61949157714844px;
}

.login_registration {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    margin-left: 72px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.en_it {
    margin-left: 32.42px;

    display: flex;
    gap: 32px;

    font-family: 'Sora';
    font-weight: 400;
    font-size: 16px;
}

.en {
    text-decoration: underline;
    font-weight: 600;
}

.it {
    color: rgba(0, 0, 0, 0.5);
}

.header-page {
    display: flex;
    align-items: baseline;
    gap: 36px;
}

.header-right {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;

    /* Inside auto layout */

    flex: none;
    order: 1;
}

.option {
    text-decoration: none;
    /* Subtitle/1 */

    font-family: 'Sora';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.0015em;

    color: rgba(0, 0, 0, 0.6);
}

.option.selected {

    text-underline-position: auto;
    text-decoration: underline;
    text-underline-offset: -3px;
    text-decoration-skip-ink: none;
    /* Subtitle/1.1 */

    font-weight: 600;
    font-size: 16px;

    color: #000000;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.08);
    background-clip: padding-box;
}