/* GENERALI */
.clean-layout {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;


}

* {
    font-family: 'Sora', sans-serif;
}


.input_form {
    margin-top: 6%;
    margin-left: 32%;
    margin-right: auto;
    width: 76%;
}



#back_button_id {
    margin-top: 2%;
    margin-left: -18%;
    float: left;
    border-radius: 8px;
    min-width: 0%;
    width: 10%;
    height: 6%;
}

.mdc-text-field__icon--leading {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
}




#title {
    margin-bottom: 0px;
    margin-top: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 2.72em;
    width: 130%;
}

#caption {
    margin-top: 4px;
    margin-bottom: 0px;
    font-size: 0.8em;
    width: 110%;
}


.input-label {

    color: #00000099;
    font-size: 0.9em;
    font-weight: 400;
    text-align: center;

}

.input-box {
    margin-top: 4%;
    height: 2.3em;
    width: 90%;

}


#password {
    margin-top: 8%;
    margin-bottom: 0px;
}

#repeat-password {
    margin-top: 6%;
    margin-bottom: 0px;
}


#checkbox {
    margin-top: 21%;
    margin-bottom: 0px;
    margin-left: -2.6%;
    width: 100%;

}

#checkbox-label {
    font-size: 0.8em;
    width: 100%;
}

#checkbox-square {
    margin-top: 6%;
    border-color: #00000066;
}

label a {
    text-decoration: underline;
    color: #00000066;
}


.checkbox-container {
    display: flex;
    align-items: center;
    color: #00000066;
}

.mdc-checkbox__background {
    width: 0.8em;
    /* Modifica la larghezza del background del quadratino */
    height: 0.8em;
    /* Modifica l'altezza del background del quadratino */
}



.mdc-checkbox {
    --mdc-theme-secondary: #6A38C2;
}

.a-checkbox {
    margin: 0px;
}








#btt-submit {
    margin-top: 1.5%;
    margin-bottom: 0px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 0.8em;
    width: 90%;
    border-radius: 8px;
}

#a-back-to-login {
    margin-top: 4%;
    margin-bottom: 0px;
    font-size: 0.8em;
    color: #00000099;
    text-decoration: underline;
    float: right;
    margin-right: 10%;
    font-weight: 600;
}

.mdc-button {
    --mdc-theme-primary: #6A38C2;
}

.numbers-and-dots {
    display: flex;
    justify-content: space-between;
}

#page-number {
    position: absolute;
    font-size: 0.8em;
    margin-left: 21%;
    bottom: 5%;
}

#first-number {
    position: relative;
    font-size: 1.5em;
}

#small_dots {
    display: flex !important;
    position: absolute;
    margin-left: 34%;
    bottom: 5%;

    justify-content: space-between;
}

#small_dots a {
    display: flex;
    justify-content: space-between;
    margin-left: 30%;
}

#background-image {
    position: absolute;
    top: 0;
    left: 38%;
    z-index: -1;
    background: linear-gradient(to right, transparent 7%, #F9FFF2 7%) no-repeat;
    background-size: 100% 100%;

    width: 62% !important;
    height: 100% !important;

    object-fit: contain;

}

/*----------MODAL----------------*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {

    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 43px;
    text-align: center;
    letter-spacing: 0.0025em;

    color: #000000;

    background-color: white;
    padding: 20px;
    border-radius: 5px;

    border: 2px solid #000000;
    border-radius: 12px;
}

#btt-finish {
    margin-top: 5%;
    margin-bottom: 7%;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 0.8em;
    width: 80%;
    border-radius: 8px;

    font-size: 15px !important;

    margin-left: 0;
    margin-right: 0;
}

#modal-title {
    /* Headline/4 */

    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 43px;
    text-align: center;
    letter-spacing: 0.0025em;
}

/*----------MODAL----------------*/



/* 












a {
    text-decoration: none;
    color: black;
}



.input-box {
    margin-top: 17px;
    height: 42px !important;
    width: 100% !important;
}