/* GENERALI */
.clean-layout {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;


}

* {
    font-family: 'Sora', sans-serif;
}


.input_form {
    margin-top: 6%;
    margin-left: 32%;
    margin-right: auto;
    width: 76%;
}

#back_button_id {
    margin-top: 2%;
    margin-left: -18%;
    float: left;
    border-radius: 8px;
    min-width: 0%;
    width: 10%;
    height: 6%;
}

.mdc-text-field__icon--leading {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
}

#title {
    margin-bottom: 0px;
    margin-top: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 2.72em;
}

#caption {
    margin-top: 4px;
    margin-bottom: 0px;
    font-size: 0.8em;
    width: 110%;
}

.code-of-email {
    margin-top: 6%;
    margin-bottom: 0px;
}

.input-label {

    color: #00000099;
    font-size: 0.9em;
    font-weight: 400;
    text-align: center;

}

.input-box {
    margin-top: 4%;
    height: 2.3em;
    width: 90%;

}


#email {
    margin-top: 9%;
    margin-bottom: 0px;
}



.code-of-email .input-box {
    width: 9%;
    float: left;
    margin-right: 3%;
}




#btt-send-reset-link {
    margin-top: 30%;
    margin-bottom: 0px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 0.8em;
    width: 90%;
    border-radius: 8px;
}

#a-back-to-login {
    margin-top: 4%;
    margin-bottom: 0px;
    font-size: 0.8em;
    color: #00000099;
    text-decoration: underline;
    float: right;
    margin-right: 10%;
    font-weight: 600;
}

.mdc-button {
    --mdc-theme-primary: #6A38C2;
}

.numbers-and-dots {
    display: flex;
    justify-content: space-between;
}

#page-number {
    position: absolute;
    font-size: 0.8em;
    margin-left: 21%;
    bottom: 5%;
}

#first-number {
    position: relative;
    font-size: 1.5em;
}

#small_dots {
    display: flex !important;
    position: absolute;
    margin-left: 34%;
    bottom: 5%;

    justify-content: space-between;
}

#small_dots a {
    display: flex;
    justify-content: space-between;
    margin-left: 30%;
}

#background-image {
    position: absolute;
    top: 0;
    left: 38%;
    z-index: -1;
    background: linear-gradient(to right, transparent 7%, #F9FFF2 7%) no-repeat;
    background-size: 100% 100%;

    width: 62% !important;
    height: 100% !important;

    object-fit: contain;
}


/* TODO PROBABILMENTE NON NECESSARIO, RIMUOVERE IN CASO DI DUBBIO */
.popup {
    position: fixed;
    top: 46.5%;
    left: 27.5%;
    transform: translate(-50%, -50%);
    background-color: #6A38C2;
    color: #fff;
    border-radius: 8px;
    z-index: 9999;
    width: fit-content;
    height: auto;
    padding: 5px 5px;
}

/* TODO PROBABILMENTE NON NECESSARIO, RIMUOVERE IN CASO DI DUBBIO */